.section_hero{
	background: #2F303A;
	.centered{
		height: 600px;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content:center;

	}
	h1{
		color: #fff;
		font: 900 44px/60px var(--font-family);
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin: 0;
		padding: 30px 0;
	}
}
.section_peculiarities{
	display-flex:flex;
	display: block;
	flex:0 0 25%;
	margin: 0 -15px;

	li{
		max-width: 25%;
		flex:0 0 25%;
		padding: 0 15px 30px;
		@media only screen and (max-width: 968px){
				max-width: 50%;
				flex:0 0 50%;
				@media only screen and (max-width: 470px){
					max-width: 100%;
					flex:0 0 100%;
				}
			}
		h3{
			color:#212121;
			font: 700 14px/16px var(--font-family);
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}
		p{
			color:#757575;
			font: 400 14px/24px var(--font-family);
			letter-spacing: 0.03em;
		}
	}		
}
.section_about{
	h2{
		color: #212121;
		font: 700 36px/42px var(--font-family);
		text-align: center;
		letter-spacing: 0.03em;
	}
	ul{
		flex-wrap:wrap;
		margin: 0 -15px;
		li{
			max-width: 33.3%;
			flex:0 0 33.3%;
			padding: 0 15px;
		}
	}
}
.section_team{
	// background: #E5E5E5;
	position: relative;
	padding: 50px 0;
	&:before{
		content: "";
		background: #E5E5E5;
		width: 99999px;
		display: block;
		height: 100%;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 50%;
		transform:translateX(-50%);
	}
	h2{
		color: #212121;
		font: 700 36px/42px var(--font-family);
		text-align: center;
		letter-spacing: 0.03em;
	}
	ul{
		flex-wrap:wrap;
		margin: 0 -15px;
		li{
			max-width: 25%;
			flex:0 0 25%;
			padding: 0 15px 30px;
			@media only screen and (max-width: 968px){
				max-width: 50%;
				flex:0 0 50%;
				@media only screen and (max-width: 470px){
					max-width: 100%;
					flex:0 0 100%;
				}
			}
		}
		.team_item{
			background: #fff;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
						0px 1px 1px rgba(0, 0, 0, 0.14), 
						0px 2px 1px rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		.team_txt{
			padding: 30px 15px;
		}
	}
	.team_prev{
		a{
			height: 0;
			padding-top: 100%;
			position: relative;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h4{
		font: 500 16px/19px var(--font-family);
		text-align: center;
		letter-spacing: 0.03em;
		margin: 0 0 10px 0;
	}
	p{
		font: 400 16px/19px var(--font-family);
		text-align: center;
		letter-spacing: 0.03em;
		color: #757575;
		margin: 0;

	}
}
