:root{
	--font-family:'Roboto', sans-serif;
}
body{
	font:400 14px/24px var(--font-family);
}
html,
body {
  height: 100%;
}
.centered{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.main_container{
	flex: 1 0 auto;
}
.header,.footer{
	flex:0 0 auto;
}
// global class

.d-flex{
	display:flex !important;
}
.d-block{
	display: block !important;
}
.flex-column{
	flex-direction: column !important;
}
.flex-wrap{
	// flex-wrap:wrap !important;
}
.img-fluid{
	display: block;
	max-width: 100%;
	height: auto;
}
.text-center{
	text-align: center !important;
}
.align-items-center{
	align-items:center !important;
}
.list-unstyled{
	margin: 0;
	padding: 0;
	list-style: none;
}
.col{
	max-width: 100%;
	flex-grow: 1;
	flex-basis: 0;
}
.btn{
	padding: 10px 15px;
	min-width: 200px;
	background: red;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	&:hover{
		opacity: 0.5;
	}
	&.btn-primary{
		background: #2196F3;

	}
}