header, main, footer, nav, figure, figcaption {
  display: block;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-family:"Roboto", sans-serif;
}

body {
  font: 400 14px/24px var(--font-family);
}

html,
body {
  height: 100%;
}

.centered {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.main_container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header, .footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-block {
  display: block !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.btn {
  padding: 10px 15px;
  min-width: 200px;
  background: red;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:hover {
  opacity: 0.5;
}
.btn.btn-primary {
  background: #2196F3;
}

.header {
  background: #fff;
}
.header .centered {
  height: 80px;
}

.logo {
  font: normal 26px/31px "Raleway", sans-serif;
  letter-spacing: 0.03em;
}
.logo a {
  color: #000;
  text-decoration: none;
}
.logo a span {
  color: #2196F3;
}
.footer .logo a {
  color: #fff;
}

.contact_link {
  padding-left: 50px;
}
.contact_link:first-of-type {
  padding-left: 0;
}
.contact_link a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contact_link a:hover {
  color: #2196F3;
}

.main_nav {
  padding-left: calc(93px - 25px);
}
.main_nav li {
  padding: 0 25px;
}
.main_nav li a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.main_nav li a:hover {
  color: #2196F3;
}

.footer {
  background: #2F303A;
}
.footer address {
  font-style: normal;
}
.footer p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer p a {
  color: rgba(255, 255, 255, 0.6);
}

.section_hero {
  background: #2F303A;
}
.section_hero .centered {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section_hero h1 {
  color: #fff;
  font: 900 44px/60px var(--font-family);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0;
}

.section_peculiarities {
  display-flex: flex;
}
.section_peculiarities li {
  padding-right: 30px;
}
.section_peculiarities li h3 {
  color: #212121;
  font: 700 14px/16px var(--font-family);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section_peculiarities li p {
  color: #757575;
  font: 400 14px/24px var(--font-family);
  letter-spacing: 0.03em;
}

.section_about h2 {
  color: #212121;
  font: 700 36px/42px var(--font-family);
  text-align: center;
  letter-spacing: 0.03em;
}
.section_about ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.section_about ul li {
  max-width: 33.3%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  padding: 0 15px;
}

.section_team {
  position: relative;
  padding: 50px 0;
}
.section_team:before {
  content: "";
  background: #E5E5E5;
  width: 99999px;
  display: block;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section_team h2 {
  color: #212121;
  font: 700 36px/42px var(--font-family);
  text-align: center;
  letter-spacing: 0.03em;
}
.section_team ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.section_team ul li {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px 30px;
}
@media only screen and (max-width: 968px) {
  .section_team ul li {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media only screen and (max-width: 968px) and (max-width: 470px) {
  .section_team ul li {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.section_team ul .team_item {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.section_team ul .team_txt {
  padding: 30px 15px;
}
.section_team .team_prev a {
  height: 0;
  padding-top: 100%;
  position: relative;
}
.section_team .team_prev img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_team h4 {
  font: 500 16px/19px var(--font-family);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}
.section_team p {
  font: 400 16px/19px var(--font-family);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}
/*# sourceMappingURL=all.css.map */